name: Run service's test

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    services:
      docker:
        image: docker:24.0.2-dind
        options: --privileged
        ports:
          - 5432:5432
        env:
          DOCKER_TLS_CERTDIR: ""
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 24

      - name: Download init.gradle.kts
        run: curl -o init.gradle.kts https://raw.githubusercontent.com/YuriyNekludov/personal-ops-repository/main/gradle/init.gradle.kts

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Run test task
        run: ./gradlew test --init-script init.gradle.kts
        env:
          MAVEN_URL: ${{ secrets.MAVEN_URL }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}